# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim swap file
*.swp

# Visual studio project files
*.vcxproj
*.vcxproj.filters
*Debug/

# Buffer Manager test files
src/buffer/data/

# data file
data/*
main.dSYM/*
main

